.header {
    width: 100vw;
    height: 400px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Poppins', sans-serif;

    padding-top: 100px;
    background: rgb(74, 115, 212);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-image {
    width: 45%;
}

.hero-image img {
    width: 100%;
}

.hero-disc {
    width: 45%;
    font-size: 3em;
}

@media (max-width: 450px) {
    .header {
        flex-direction: column;
    }

    .hero-disc {
        width: calc(100% - 100px);
        font-size: 2em;
    }

    .hero-image {
        width: calc(100%);
    }

    .hero-image img {
        width: 100%;
    }
}