@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.menubar {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 80px;

    padding: 0px 5px;
    
    font-family: 'Poppins', sans-serif;
    
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    font-weight: 400;
    font-size: 15px;

    transition-duration: 0.5s;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    background: rgb(255, 255, 255);
    color: gray;

    transition-duration: 0.3s;

    z-index: 1;
}

#logo {
    margin-left: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 130px;
    height: 40px;
    border-radius: 20px;

    cursor: pointer;

    transition-duration: 0.3s;

    padding: 0px 20px;
    color: black;
    font-weight: 500;
}

#logo-png {
    width: 25px;
}

#menuitems {
    width: 600px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    transition-duration: 0.3s;
    font-size: 13px;
}

.menu-link {
    text-decoration: none;
    color: inherit;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menuitems-list {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;
    height: 100%;
}

.items {
    height: 90%;
    display: flex;
    align-items: center;

    padding: 0px 20px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.items:nth-child(1) {
    background: rgb(69, 111, 246);
    color: white;
}

.items:hover {
    cursor: pointer;
}

.cross-icon {
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    display: none;
}

.cross-icon:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.line-1 {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
}

.line-2 {
    width: 20px;
    height: 2px;
}

.line {
    background: black;
}

@media (max-width: 830px) {
    .menubar {
        flex-direction: column;
        justify-content: flex-start;
    }

    #logo {
        margin-left: 0px;
        margin-top: 20px;
    }

    #menuitems {
        position: fixed;
        top: 100px;
        z-index: 2;

        margin-right: 0px;

        transition-duration: 0.3s;
        transform: translateY(100vh);

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        background: white;

        border-style: solid;
        border-width: 0.5px;
        border-color: rgba(255, 255, 255, 0.2);

        width: calc(100vw - 60px);
        height: 100vh;

        padding: 0px 10px;
    }

    #menuitems-list {
        flex-direction: column;
        justify-content: flex-start;
    }

    .items {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        margin-top: 10px;
        padding: 0px 20px;

        width: calc(100% - 40px);
        height: 40px;
        border-style: none;

        transition-duration: 0.3s;
        border-radius: 5px;
    }

    .items:hover {
        transform: translateX(10px);
    }

    .cross-icon {
        display: flex;

        position: fixed;
        top: 20px;
        right: 40px;

        z-index: 2;
    }

    .toggleMenu {
        transform: translateX(0%);
    }
}