@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.menubar {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw - 60px);
    height: 60px;

    padding: 0px 5px;
    max-width: 1000px;

    font-family: 'Poppins', sans-serif;

    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    font-weight: 400;
    font-size: 15px;

    transition-duration: 0.5s;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background: rgb(2, 4, 10);
    color: rgb(232, 232, 232);

    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(255, 255, 255, 0.2);

    transition-duration: 0.3s;
}

.themed-menubar {
    background: #f5f6f7;
    color: black;
}

#logo {
    margin-left: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 130px;
    height: 40px;
    border-radius: 20px;

    cursor: pointer;

    transition-duration: 0.3s;

    padding: 0px 20px;
}

#logo-png {
    width: 25px;
}

#menuitems {
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    transition-duration: 0.3s;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

#menuitems-list {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;
}

.items {
    height: 40px;
    display: flex;
    align-items: center;

    padding: 0px 20px;
}

.items:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cross-icon {
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    display: none;
}

.cross-icon:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.line-1 {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
}

.line-2 {
    width: 20px;
    height: 2px;
}

.line {
    background: white;
}

.themed-lines {
    background: black;
}

@media (max-width: 700px) {
    .menubar {
        flex-direction: column;
        justify-content: flex-start;
    }

    #logo {
        margin-left: 0px;
        margin-top: 10px;
    }

    #menuitems {
        position: fixed;
        top: 70px;
        z-index: 1;

        margin-right: 0px;

        transition-duration: 0.3s;
        transform: translateY(100vh);

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        background: rgb(2, 4, 10);

        border-style: solid;
        border-width: 0.5px;
        border-color: rgba(255, 255, 255, 0.2);

        width: calc(100vw - 60px);
        height: 100vh;
    }

    #menuitems-list {
        flex-direction: column;
        justify-content: flex-start;
    }

    .items {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        margin-top: 10px;
        padding: 0px 10px;

        width: calc(100% - 50px);
        height: 40px;
        border-style: none;

        transition-duration: 0.2s;
    }

    .items:hover {
        transform: translateX(10px);
    }

    .cross-icon {
        display: flex;

        position: fixed;
        top: 15px;
        right: 40px;

        z-index: 1;
    }

    .toggleMenu {
        transform: translateX(0%);
    }
}