.airplane {
    width: calc(100vw - 50px);
    height: 400px;

    max-width: 1000px;

    margin: auto;
    margin-top: 40px;

    border-top-style: solid;
    border-top-color: rgb(99, 99, 255);
    border-top-width: 5px;
}