* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    transition-duration: 0.3s;
    background: rgb(247, 247, 247);
}

.header-bg {
    padding-bottom: 50px;
}

.travelling {
    display: none;
}